<footer class="footer">
  <div class="footer__container container">
    <div class="footer__entry">
      <div class="footer__copyright">АО «НПП «ИСТА-Системс» </div>
      <ul class="footer__contacts">
        <li class="footer__contact"><a href="tel:+78129600610" class="footer__link">тел./факс. (812) 960-06-10</a></li>
        <li class="footer__contact"><a href="mailto:info@ista.ru" class="footer__link">info@ista.ru</a></li>
        <li class="footer__contact"><a href="//ista-systems.ru" class="footer__link">ista-systems.ru</a></li>
      </ul>

    </div>
  </div>
</footer>