<section class="specs">
    <div class="specs__container container"data-aos="fade-right">

        <div class="specs__table-w">

            <table class="specs__table table">
                <tr class="table__row">
                    <th class="table__header">
                        Характеристики
                    </th>
                    <th class="table__header">
                        Значение
                    </th>
                </tr>

                 <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Линия связи со станционной аппаратурой</span></td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell">— тип сетевого протокола, кол-во портов</td>
                    <td class="table__cell">ТСР/IР Gigabit Ethernet 1 Гб/с, 2 шт.</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Линии связи с IР-устройсгвами</span></td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell">— тип сетевого протокола, кол-во портов</td>
                    <td class="table__cell">ТСР/IР Fast Ethernet 10/100 Мб/с, до 8 шт.</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Шлейфы сигнализации (ШС)</span></td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- количество ШС</td>
                    <td class="table__cell">7 шт.</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- тип ШС</td>
                    <td class="table__cell">аналоговый, с оконечным элементом</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- сопротивление проводов</td>
                    <td class="table__cell">до 1 кОм без учёта оконечного элемента</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">— состояния шлейфа</td>
                    <td class="table__cell">«Норма», «Тревога», «Обрыв», «КЗ»</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Релейные выходы</span></td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- количество реле</td>
                    <td class="table__cell">2 шт.</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- номинальный коммутируемый ток</td>
                    <td class="table__cell">1,5 А</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">— максимальное коммутируемое напряжение</td>
                    <td class="table__cell">постоянное напряжение 28 В</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Электропитание</span></td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- тип и напряжение</td>
                    <td class="table__cell">220±10 % В, 50 Гц</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- мощность, потребляемая аппаратурой </td>
                    <td class="table__cell">не более 190 Вт</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Электроснабжение средств обнаружения</span></td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- тип и напряжение</td>
                    <td class="table__cell">24 В постоянного тока</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- мощность</td>
                    <td class="table__cell">до 4О Вт</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell" colspan="2"><span>Электроснабжение видеокомплексов</span></td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">- тип и напряжение</td>
                    <td class="table__cell">220±10 % В, 50 Гц</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell">— максимальная суммарная мощность на выходах питания видеокомплексов</td>
                    <td class="table__cell">до 2,18 кВт</td>
                </tr>

                <tr class="table__row">
                    <td class="table__cell"><span>Защита от импульсов высокого напряжения (грозозащита)</span></td>
                    <td class="table__cell">по линиям связи по линиям питания 220 В</td>
                </tr>



            </table>
        </div>

        <div class="specs__table-w">
            <h2 class="specs__title title_regular">Корпус</h2>
            <table class="specs__table table">
                <tr class="table__row">
                    <th class="table__header">Защищенность</th>
                    <th class="table__header">Длина, мм</th>
                    <th class="table__header">Ширина, мм</th>
                    <th class="table__header">Высота, мм</th>
                    <th class="table__header">t°C</th>
                    <th class="table__header">Масса, кг</th>

                </tr>

                <tr class="table__row">
                    <td class="table__cell">IP66</td>
                    <td class="table__cell">1070</td>
                    <td class="table__cell">550</td>
                    <td class="table__cell">500</td>
                    <td class="table__cell">от -60 до +45</td>
                    <td class="table__cell">не более 70</td>
                </tr>


            </table>
        </div>




    </div>
</section>
