<section class="benefits">
    <div class="benefits__container container">
        <h2 class="benefits__title title title_regular">Преимуществами данной схемы являются:</h2>
        <ul class="benefits__list">
            <li class="benefits__item">простота интеграции в существующую систему;</li>
            <li class="benefits__item">нет необходимости менять существующие бизнес процессы, связанные с оформлением пропусков;</li>
            <li class="benefits__item">персонал бюро пропусков не нуждается в переобучении - существующая на предприятии система остается основной, а в БМИП добавляются только фотографии
            сотрудников.</li>
        </ul>
    </div>
</section>
