<div class="functions">
  <div class="functions__container container">
    <ul class="functions__list flex">
      <li class="functions__item">
        <div class="functions__icon">
          <picture class="header__picture">
            <source srcset="static/img/general/feature-img-1.webp" type="image/webp" />
            <img src="static/img/general/feature-img-1.png" alt="" />
          </picture>
        </div>
        <div class="functions__text">Взаимодействует с ПО <br/>интегрированных систем безопасности <br/>КИПЕР и СУДОС «Ель»</div>
      </li>
      <li class="functions__item">
        <div class="functions__icon">
          <picture class="header__picture">
            <source srcset="static/img/general/feature-img-2.webp" type="image/webp" />
            <img src="static/img/general/feature-img-2.png" alt="" />
          </picture>
        </div>
        <div class="functions__text">Возможность интеграции <br/>с комплексом технических <br/>средств охраны периметра<br/>"Тополь-З"</div>
      </li>
      <li class="functions__item">
        <div class="functions__icon">
          <picture class="header__picture">
            <source srcset="static/img/general/feature-img-3.webp" type="image/webp" />
            <img src="static/img/general/feature-img-3.png" alt="" />
          </picture>
        </div>
        <div class="functions__text">Идентификация с контролем <br/>посещаемости и проверка <br/>термометром</div>
      </li>
    </ul>
  </div>
</div>
