<sections class="options">
    <div class="options__container container">
        <h2 class="options__title title title_regular">Варианты исполнения</h2>
        <ul class="options__list flex">
            <li class="options__item flex">
                <div class="options__icon"><img class="lazy" data-src="static/img/content/options-img-1.png" alt=""></div>
                <div class="options__w flex">
                    <div class="options__text">экран 5"<br/>с измерением температуры лица</div>
                </div>
            </li>
            <li class="options__item flex">
                <div class="options__icon"><img class="lazy" data-src="static/img/content/options-img-2.png" alt=""></div>
                <div class="options__w flex">
                    <div class="options__text">экран 5"<br/>с измерением температуры запястья</div>
                </div>
            </li>
            <li class="options__item flex">
                <div class="options__icon"><img class="lazy" data-src="static/img/content/options-img-3.png" alt=""></div>
                <div class="options__w flex">
                    <div class="options__text">экран 7"<br/>с измерением температуры лица</div>
                </div>
            </li>
          </ul>
    </div>
</sections>
