<section class="about">
    <div class="about__container container">
        <div class="about__entry">
            <h1 class="about__title title">Шкаф участковый периметровый ШУП-8СТ «Ель» АФЕТ.425519.071</h1>
            <p class="about__text">Предназначен для работы вне помещений в различных климатических условиях, в том числе неблагоприятных, при температурах от -60 до +45</p>

        </div>

        <div class="about__functions functions">
            <ul class="functions__list flex">
                <li class="functions__item">
                    <div class="functions__icon">
                        <picture class="header__picture">
                            <source srcset="static/img/general/feature-img-1.webp" type="image/webp" />
                            <img src="static/img/general/feature-img-1.png" alt="" />
                        </picture>
                    </div>
                    <p class="functions__text">Взаимодействует с ПО <br/>интегрированных систем безопасности <br/>КИПЕР и СУДОС «Ель»</p>
                </li>

                <li class="functions__item">
                    <div class="functions__icon">
                        <picture class="header__picture">
                            <source srcset="static/img/general/feature-img-2.webp" type="image/webp" />
                            <img src="static/img/general/feature-img-2.png" alt="" />
                        </picture>
                    </div>
                    <p class="functions__text">Возможность интеграции <br/>с комплексом технических <br/>средств охраны периметра<br/>"Тополь-З"</p>
                </li>

                <li class="functions__item">
                    <div class="functions__icon">
                        <picture class="header__picture">
                            <source srcset="static/img/general/feature-img-3.webp" type="image/webp" />
                            <img src="static/img/general/feature-img-3.png" alt="" />
                        </picture>
                    </div>
                    <p class="functions__text">Идентификация с контролем <br/>посещаемости и проверка <br/>термометром</p>
                </li>

            </ul>
        </div>

        <div class="about__row flex" data-aos="fade-right" >
            <div class="about__slider-w">
                <div class="about__slider">
                    <div class="about__slider-item">
                        <picture class="about__picture">
                            <source srcset="static/img/content/slider-img-1.webp" type="image/webp" />
                            <img src="static/img/content/slider-img-1.jpg" alt="" />
                        </picture>
                    </div>
                    <div class="about__slider-item">
                        <picture class="about__picture">
                            <source srcset="static/img/content/slider-img-2.webp" type="image/webp" />
                            <img src="static/img/content/slider-img-2.jpg" alt="" />
                        </picture>
                    </div>
                    <div class="about__slider-item">
                        <picture class="about__picture">
                            <source srcset="static/img/content/slider-img-3.webp" type="image/webp" />
                            <img src="static/img/content/slider-img-3.jpg" alt="" />
                        </picture>
                    </div>

                </div>
            </div>


            <ul class="about__list">
                <li class="about__item">Прием сигналов тревог от средств обнаружения</li>
                <li class="about__item">Выдача сигналов дистанционного контроля на средства обнаружения</li>
                <li class="about__item">Непрерывный прием информационных потоков от передающих IР-устройств (телевизионных камер) по локальной LAN/WAN-сети</li>
                <li class="about__item">Трансляция информационных потоков от средств обнаружения и IР-устройств на станционную часть системы по волоконно-оптической линии связи (ВОЛС)</li>
                <li class="about__item">Электропитание средств обнаружения и IP-устройств</li>
                <li class="about__item">Грозозащита по всем линиям связи и электропитания</li>
                <li class="about__item">Наличие тревожного входа и выхода для <br/>реализации различных сценариев доступа</li>
            </ul>
        </div>

        <div class="about__cert flex">
            <picture class="about__cert-icon">
                <source srcset="static/img/general/cert-icon.webp" type="image/webp" />
                <img src="static/img/general/cert-icon.png" alt="" />
            </picture>
            <p class="about__cert-text">Сертификат соответствия технических средств обеспечения транспортной безопасности (по Постановлению Правительства РФ №969)</p>
        </div>
    </div>
</section>