.header {
    position: relative;
    &:after {
        position: absolute;
        top: 100%;
        left: -470px;
        content: "";
        @include bg($lines);
        @include mq($small) {
            left: 0;

        }

    }

    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: flex-start;
        @include mq($small) {
            padding-bottom: 42px;

        }
    }
    &__logo {
        // margin-left: 10px;
        max-width: 150px;
        width: 100%;
        @include mq($small) {
            max-width: 300px;

        }
    }

    &__entry {
        margin-left: auto;
        font-weight: 500;
        font-size: 16px;
        @include mq($small) {
            font-size: 21px;
        }

    }

    &__contacts {
        @include resetlist;
    }

    &__link {
        color: #231F20;
        text-decoration: none;
    }
}


.logo {
    &__image {
        max-width: 100%;
        height: auto;
    }
    &__text {
        @include visuallyhidden;
    }
}