.detectors {

    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        margin-bottom: 30px;
        text-align: center;
    }

    &__schema {
        margin: auto;
        display: block;
        cursor: pointer;
        @include mq($small) {
            max-width: 50%;

        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover
        }
    }


    // &__schema-img {

    // }
}

.fslightbox-source {
    padding: 10px;
    background-color: #FFF;
}



