.detectors {

    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        margin-bottom: 30px;
        text-align: center;
    }

    // &__schema {

    // }


    // &__schema-img {

    // }
}


