.detectors {

    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        margin-bottom: 30px;
        text-align: center;
    }

    &__schema {
        margin: auto;
        max-width: 50%;
        display: block;
        cursor: pointer;
    }


    // &__schema-img {

    // }
}

.fslightbox-source {
    padding: 10px;
    background-color: #FFF;
}



